.DS_Store
.ruby-gemset
.ruby-version
.sass-cache
node_modules
assets/javascripts/vendor
assets/stylesheets
assets/javascripts/built.js
assets/javascripts/built.min.js
assets/images/icons/svg-sprites

gh-pages