$default-font-size: 16px;

@import "base/base";
@import "helpers/helpers";
@import "components/components";


a {
    text-decoration: none;
}


.App {
    background-color: #23282E;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


.App-header {
    overflow: hidden;
    padding: 10px;

    .Logo {
        float: left;
    }

    .User {
        float: right;
    }
}


.App-content {
    z-index: 5;
}


$App-sidebar-width: 200px;
.App-sidebar {
    position: absolute;
    z-index: 10;
    top: 0;
    right: -$App-sidebar-width;
    width: $App-sidebar-width;
    height: 100%;
    min-height: 100vh;
    padding: 10px;
    background: #FFF;

    @include vendor(box-sizing, border-box);
    @include vendor(transform, translateX(0));
    @include transition(transform 0.4s ease-out-expo());

    &.js-isOpen {
        @include vendor(transform, translateX(-#{$App-sidebar-width}));
    }
}


.Logo  {
    width: 106px;
    height: 31px;
}


.User {
    line-height: 1;

    strong {
        font-size: 10px;
        color: #FFF;
    }

    strong,
    figure {
        vertical-align: middle;
        display: inline-block;
    }
}


.Journey {
    ul {
        width: 100%;
    }
}

.Journey-header {
    padding: 4px 10px;
    background-color: #2E353D;
    color: #A9ACB0;
    text-transform: uppercase;
    overflow: hidden;
    line-height: 1;

    strong, em {
        font-weight: $font-helvetica-light-weight;
        font-style: normal;
        line-height: 1;
        font-size: 10px;
    }

    strong {
        float: left;
    }

    em {
        float: right;
    }
}


.Matches {
    @extend %clearfix;
}


.Match {
    position: relative;
    color: #FFF;
    text-align: center;
    line-height: 0;
    border-top: 1px solid #2E353D;
    line-height: 1;

    &:first-child {
        border-top: none;
    }

    .Bet {
        display: none;
    }

    &.js-isOpen {
        background-color: #13161A;

        .Bet {
            display: block;
            margin-top: -10px;
        }

        .Match-result {
            display: none;
        }

        .Match-bet:after,
        .Match-goals {
            opacity: 0;
        }
    }
}

.Match-bet {
    padding-top: 20px;
    padding-bottom: 19px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;

    &:after {
        content: '';
        width: 4px;
        height: 2px;
        background: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
    }

    $flag-gutter: 24px + 7px;
    $teams-gutter: 8px;

    > span {
        @include vendor(box-sizing, border-box);
        width: 50%;
        float: left;
        text-align: left;
        white-space: nowrap;
        padding-left: $teams-gutter;

        .Match-team {
            padding-left: $flag-gutter;
            margin-left: 6px;
        }

        &:first-child {
            padding-right: $teams-gutter;
            padding-left: 0;
            text-align: right;

            .Match-team {
                padding-right: $flag-gutter;
                padding-left: 0;
                margin-right: 6px;
                margin-left: 0;
                background-position: center right;
            }
        }
    }
}

.Match-team,
.Match-goals {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}

.Match-team {
    font-size: 13px;
    font-weight: $font-helvetica-light-weight;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    background-position: center left;
    overflow: hidden;
}

.Match-goals {
    font-size: 16px;
    min-width: 9px;
}

.Match-result {
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 4px;
    padding: 5px 0;
    width: 40px;
    margin-left: -20px;
    text-align: center;
    color: rgba(#D7DBE0, 0.5);
    font-size: 10px;
}


.Bet {
    text-align: center;

    input {
        background: transparent;
        border: none;
        outline: none;
        -webkit-appearance: none;
        font-size: 28px;
        color: #FFF;
        font-weight: bold;
        text-align: left;
        margin: 0 25px;
        max-width: 70px;
        line-height: 1;

        @include placeholder {
            color: rgba(#FFF, 0.2);
        }
    }

    input:first-child {
        text-align: right;
    }

    input::-webkit-inner-spin-button {
        display: none;
    }
}

.Bet-actions {
    padding: 12px 15px 24px;
    overflow: hidden;

    .Btn {
        float: right;
        min-width: 48%;

        &:first-child {
            float: left;
        }
    }
}



.Btn {
    cursor: pointer;
    border: none;
    display: inline-block;
    height: 45px;
    outline: none;
}


.Btn--submit {
    background-color: #2B8FBD;
    border-radius: 4px;
}

.Btn--cancel {
    background-color: #23282E;
    border-radius: 4px;

    .Ico {
        opacity: 0.3;
    }
}



@media only screen and (min-width: 720px) {
    .Matches {
        .Matches-col {
            float: left;
            width: 50%;

            &:first-child:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 60px;
                min-height: 100vh;
                height: 100%;
                width: 1px;
                background: #2E353C;
            }
        }
    }
}


























