$default-font-size: 16;

@import "base/base";
@import "helpers/helpers";
@import "components/components";


a {
    text-decoration: none;
}


.App {
    background-color: #13161A;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}


$header-height: 50px;
.App-header {
    @include vendor(box-sizing, border-box);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    height: $header-height;
    background-color: #23282E;

    .Logo {
        margin-top: 6px;
        float: left;
    }

    .User {
        float: right;
        display: none;
    }

    .App--withSidebar & .User {
        display: block;
    }
}


.App-content {
    @include vendor(box-sizing, border-box);
    z-index: 5;
    padding-top: $header-height;
    min-height: 100vh;
}


$App-sidebar-width: 300px;
.App-sidebar {
    @include vendor(box-sizing, border-box);
    position: absolute;
    z-index: 10;
    top: 0;
    right: -$App-sidebar-width;
    width: $App-sidebar-width;
    height: 100%;
    min-height: 100vh;
    padding: 49px 25px 30px 10px;
    background: #13161A;
    color: #FFF;

    @include vendor(box-sizing, border-box);
    @include vendor(transform, translateX(0));
    @include transition(transform 0.4s ease-out-expo());

    &.js-isOpen {
        @include vendor(transform, translateX(-#{$App-sidebar-width}));
    }
}




.Logo  {
    @extend %text-replacement;
    width: 106px;
    height: 21px;
    background: url('../images/svg/logo.svg') no-repeat;
    background-size: 100%;
}




.User {
    line-height: 1;

    strong {
        font-size: 10px;
        color: #FFF;
    }

    strong,
    figure {
        vertical-align: middle;
        display: inline-block;
    }
}




.Journey {
    margin-top: -1px; // hide border-bottom in last row items

    > ul {
        width: 100%;
    }

    .js-cloned {
        display: none;
    }
}


.Journey-header {
    padding: 4px 10px;
    background-color: #2E353D;
    color: #A9ACB0;
    text-transform: uppercase;
    overflow: hidden;
    line-height: 1;

    strong, em {
        font-weight: $font-helvetica-light-weight;
        font-style: normal;
        line-height: 1;
        font-size: 10px;
    }

    strong {
        float: left;
    }

    em {
        float: right;
    }
}




.Matches {
    @extend %clearfix;
    background-color: #23282E;
    min-height: 100vh;
}




.Match {
    @include vendor(box-sizing, border-box);
    position: relative;
    color: #FFF;
    text-align: center;
    line-height: 0;
    border-bottom: 1px solid #2E353D;
    background-color: #23282E;
    line-height: 1;

    .Bet {
        display: none;
    }

    &.js-isOpen {
        background-color: #13161A;

        .Bet {
            display: block;
            margin-top: -10px;
        }

        .Match-result {
            display: none;
        }

        .Match-bet:after,
        .Match-goals {
            opacity: 0;
        }

        .Match-bet {
            padding-bottom: 0;
            margin-bottom: 19px;
        }
    }
}


$flag-width: 24px;
$flag-gutter: $flag-width + 7px;
$teams-gutter: 8px;

.Match-bet {
    padding-top: 20px;
    padding-bottom: 19px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;

    &:after {
        content: '';
        width: 4px;
        height: 2px;
        background: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
    }

    .Badge {
        position: absolute;
        top: 28px;
        right: 15px;
        z-index: 8;

    }

    > span {
        @include vendor(box-sizing, border-box);
        width: 50%;
        float: left;
        text-align: left;
        white-space: nowrap;
        padding-left: $teams-gutter;

        .Match-team {
            padding-left: $flag-gutter;
            margin-left: 6px;
        }

        &:first-child {
            padding-right: $teams-gutter;
            padding-left: 0;
            text-align: right;

            .Match-team {
                padding-right: $flag-gutter;
                padding-left: 0;
                margin-right: 6px;
                margin-left: 0;
                background-position: center right;
            }
        }
    }
}


.Match-team,
.Match-goals {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}


.Match-team {
    font-size: 13px;
    font-weight: $font-helvetica-light-weight;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: $flag-width;
    overflow: hidden;
}


.Match-goals {
    font-size: 16px;
    min-width: 9px;
}


.Match-result {
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 4px;
    padding: 5px 0;
    width: 40px;
    margin-left: -20px;
    text-align: center;
    color: rgba(#D7DBE0, 0.5);
    font-size: 10px;
}




.Bet {
    text-align: center;

    input {
        background: transparent;
        border: none;
        outline: none;
        -webkit-appearance: none;
        font-size: 28px;
        color: #FFF;
        font-weight: bold;
        text-align: left;
        margin: 0 25px;
        max-width: 70px;
        line-height: 1;

        @include placeholder {
            color: rgba(#FFF, 0.2);
        }
    }

    input:first-child {
        text-align: right;
    }

    input::-webkit-inner-spin-button {
        display: none;
    }
}


.Bet-actions {
    padding: 12px 15px 24px;
    overflow: hidden;

    .Btn {
        float: right;
        min-width: 48%;

        &:first-child {
            float: left;
        }
    }
}

%default-table-style {
    width: 100%;
    border-collapse: collapse;

    thead {
        display: none;
    }

    td {
        font-size: 11px;
        padding-bottom: 10px;
        padding-right: 10px;
        vertical-align: middle;
        text-align: left;
        color: #FFF;
        line-height: 1;
    }
}




.Clasification {
    @extend %default-table-style;
    max-width: 450px;

    td {
        &:first-child,
        &:last-child {
            width: 40px;
            text-align: right;
        }

        &:last-child {
            color: #6C7076;
        }

        // avatar
        &:nth-child(2) {
            width: 31px;
        }
    }
}




.Bets {
    padding: 20px 10px 20px 15px;
    background-color: #13161A;

    table {
        @extend %default-table-style;
    }

    table td {
        font-size: 13px;
        // avatar
        &:nth-child(1) {
            width: 31px;
        }

        // user bet
        &:nth-child(3) {
            min-width: 35px;
            color: #6C7076;
        }

        &:nth-child(3),
        &:nth-child(4) {
            text-align: right;
        }

        //badge
        &:nth-child(4) {
            width: 10px;
        }
    }
}




.Badge {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height: 16px;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: $font-helvetica-bold-weight
}

.Badge--green {
    background-color: #53C476;
}

.Badge--red {
    background-color: #E6462B;
}

.Badge--blue {
    background-color: #4EAED9;
}




@media only screen and (min-width: 720px) {
    .Matches {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: #2E353D;
        }

        .Journey {
            overflow: hidden;

            > ul {
                width: 50%;
                float: left;
            }


            .js-cloned {
                display: block;
            }

            .js-2n-original {
                display: none;
            }
        }

    }

    .Match-team {
        font-size: 16px;
    }

    .Match-result,
    .Journey-header em {
        font-size: 11px;
    }

    .Clasification td,
    .Bets table td {
        font-size: 15px;
    }
}


@media only screen and (min-width: 1300px) {
    .App-header .User {
        display: none;
    }

    .App--withSidebar {
        .App-content {
            float: left;
            width: 75%;
            // max-width: 1000px;
        }

        .App-sidebar {
            @include vendor(transform, translateX(0) !important);
            width: 25%;
            right: 0;
        }
    }
}


@include keyframes(spin) {
    0% {
        @include vendor(transform, rotate(0deg));
    }

    100% {
        @include vendor(transform, rotate(360deg));
    }
}
