$default-font-size: 16;

@import "base/base";
@import "helpers/helpers";
@import "components/components";


a {
    text-decoration: none;
}


.App {
    background-color: #23282E;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


.App-header {
    @include vendor(box-sizing, border-box);
    overflow: hidden;
    padding: 10px;
    height: 50px;

    .Logo {
        margin-top: 6px;
        float: left;
    }

    .User {
        float: right;
    }
}


.App-content {
    z-index: 5;
}


$App-sidebar-width: 300px;
.App-sidebar {
    @include vendor(box-sizing, border-box);
    position: absolute;
    z-index: 10;
    top: 0;
    right: -$App-sidebar-width;
    width: $App-sidebar-width;
    height: 100%;
    min-height: 100vh;
    padding: 49px 25px 30px 10px;
    background: #13161A;
    color: #FFF;

    @include vendor(box-sizing, border-box);
    @include vendor(transform, translateX(0));
    @include transition(transform 0.4s ease-out-expo());

    &.js-isOpen {
        @include vendor(transform, translateX(-#{$App-sidebar-width}));
    }
}


.Logo  {
    @extend %text-replacement;
    width: 106px;
    height: 21px;
    background: url('../images/svg/logo.svg') no-repeat;
    background-size: 100%;
}


.User {
    line-height: 1;

    strong {
        font-size: 10px;
        color: #FFF;
    }

    strong,
    figure {
        vertical-align: middle;
        display: inline-block;
    }
}


.Journey {
    > ul {
        width: 100%;
    }
}

.Journey-header {
    padding: 4px 10px;
    background-color: #2E353D;
    color: #A9ACB0;
    text-transform: uppercase;
    overflow: hidden;
    line-height: 1;

    strong, em {
        font-weight: $font-helvetica-light-weight;
        font-style: normal;
        line-height: 1;
        font-size: 10px;
    }

    strong {
        float: left;
    }

    em {
        float: right;
    }
}


.Matches {
    @extend %clearfix;
}


.Match {
    @include vendor(box-sizing, border-box);
    position: relative;
    color: #FFF;
    text-align: center;
    line-height: 0;
    border-top: 1px solid #2E353D;
    line-height: 1;

    &:first-child {
        border-top: none;
    }

    .Bet {
        display: none;
    }

    &.js-isOpen {
        background-color: #13161A;

        .Bet {
            display: block;
            margin-top: -10px;
        }

        .Match-result {
            display: none;
        }

        .Match-bet:after,
        .Match-goals {
            opacity: 0;
        }

        .Match-bet {
            padding-bottom: 0;
            margin-bottom: 19px;
        }
    }
}

$flag-width: 24px;
$flag-gutter: $flag-width + 7px;
$teams-gutter: 8px;

.Match-bet {
    padding-top: 20px;
    padding-bottom: 19px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;

    &:after {
        content: '';
        width: 4px;
        height: 2px;
        background: #FFF;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
    }

    .Badge {
        position: absolute;
        top: 28px;
        right: 15px;
        z-index: 8;

    }

    > span {
        @include vendor(box-sizing, border-box);
        width: 50%;
        float: left;
        text-align: left;
        white-space: nowrap;
        padding-left: $teams-gutter;

        .Match-team {
            padding-left: $flag-gutter;
            margin-left: 6px;
        }

        &:first-child {
            padding-right: $teams-gutter;
            padding-left: 0;
            text-align: right;

            .Match-team {
                padding-right: $flag-gutter;
                padding-left: 0;
                margin-right: 6px;
                margin-left: 0;
                background-position: center right;
            }
        }
    }
}

.Match-team,
.Match-goals {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
}

.Match-team {
    font-size: 13px;
    font-weight: $font-helvetica-light-weight;
    text-overflow: ellipsis;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: $flag-width;
    overflow: hidden;
}

.Match-goals {
    font-size: 16px;
    min-width: 9px;
}

.Match-result {
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 4px;
    padding: 5px 0;
    width: 40px;
    margin-left: -20px;
    text-align: center;
    color: rgba(#D7DBE0, 0.5);
    font-size: 10px;
}


.Bet {
    text-align: center;

    input {
        background: transparent;
        border: none;
        outline: none;
        -webkit-appearance: none;
        font-size: 28px;
        color: #FFF;
        font-weight: bold;
        text-align: left;
        margin: 0 25px;
        max-width: 70px;
        line-height: 1;

        @include placeholder {
            color: rgba(#FFF, 0.2);
        }
    }

    input:first-child {
        text-align: right;
    }

    input::-webkit-inner-spin-button {
        display: none;
    }
}

.Bet-actions {
    padding: 12px 15px 24px;
    overflow: hidden;

    .Btn {
        float: right;
        min-width: 48%;

        &:first-child {
            float: left;
        }
    }
}


.Clasification {
    width: 100%;
    max-width: 450px;
    border-collapse: collapse;

    thead {
        display: none;
    }

    td {
        font-size: 11px;
        padding-bottom: 10px;
        padding-right: 10px;
        vertical-align: middle;
        text-align: left;

        &:first-child,
        &:last-child {
            width: 40px;
            text-align: right;
        }

        // avatar
        &:nth-child(2) {
            width: 31px;
        }

    }
}


.Badge {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height: 16px;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: $font-helvetica-bold-weight
}

.Badge--green {
    background-color: #53C476;
}

.Badge--red {
    background-color: #E6462B;
}

.Badge--blue {
    background-color: #4EAED9;
}


.Btn {
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-block;
    height: 45px;
    outline: none;

    .Ico-spinner {
        position: absolute;
        opacity: 0;
        top: 11px;
        left: 50%;
        margin-left: -11px;
    }

    &.js-isWaiting {
        .Ico:not(.Ico-spinner) {
            opacity: 0;
        }

        .Ico-spinner {
            opacity: 1;
            @include vendor(animation, spin 1s linear infinite);
        }
    }
}


.Btn--submit {
    background-color: #2B8FBD;
    border-radius: 4px;

    &:focus {
        background-color: lighten(#2B8FBD, 13);
    }
}

.Btn--cancel {
    background-color: #23282E;
    border-radius: 4px;

    &:focus {
        background-color: lighten(#23282E, 3);
    }

    .Ico {
        opacity: 0.3;
    }
}



@media only screen and (min-width: 720px) {
    .Matches {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: #2E353D;
        }

        .Journey > ul {
            overflow: hidden;
        }

        .Match {
            width: 50%;
            float: left;
            border-top: none;
            border-bottom: 1px solid #2E353D;
        }
    }

    .Match-team {
        font-size: 16px;
    }

    .Match-result,
    .Journey-header em {
        font-size: 11px;
    }

    .Clasification td {
        font-size: 16px;
    }
}


@media only screen and (min-width: 1300px) {
    .App-header .User {
        display: none;
    }

    .App-content {
        float: left;
        width: 75%;
        // max-width: 1000px;
    }

    .App-sidebar {
        @include vendor(transform, translateX(0) !important);
        width: 25%;
        right: 0;
    }
}


@include keyframes(spin) {
    0% {
        @include vendor(transform, rotate(0deg));
    }

    100% {
        @include vendor(transform, rotate(360deg));
    }
}
























